@CHARSET "ISO-8859-1";

.clear {
    clear: both;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.row:after {
    clear: both;
}

.col-6 {
    width: 50%;
    position: relative;
    float: left;
}

.form-group {
    display: block;
    margin: 5px;
}

.form-inline,
.form-group.form-inline {
    display: inline;
}